<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.LeanbackPreferences"/>

        <service
            android:name=".PhotoScreensaverService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/screensaver_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_service" />
        </service>

    </application>

</manifest>